@import "tailwindcss";

:root {
    font-size: 16px;
    line-height: 1.5;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    width: 100%;
}

body {
    margin: 0;
    display: flex;
    width: 100%;
    min-height: 100vh;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
